[Desktop Entry]
Name=ifocob
Exec=ifocob
Type=Application
Terminal=false
Categories=Utility;
MimeType=image/qoi
MimeType=image/bmp
MimeType=image/x-exr